<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img
        src="../../assets/logos/logo.png"
        width="30"
        height="30"
        class="d-inline-block align-top logo"
        alt=""
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#"
          >ACCUEIL <span class="sr-only">(current)</span></a
        >
        <a class="nav-item nav-link" href="#ourSolutions">ARTICLES</a>
        <a class="nav-item nav-link" href="#ourProcess">CONTACT</a>
        <a class="nav-item nav-link" href="#Careers">A PROPOS</a>
      </div>
      <div class="languageBox">
        <button>Déconnexion</button>
      </div>
    </div>
  </nav>
  