.card{
    background-color: white;
    height: 300px;
    width: 850px;
    border: 1px solid #1E74FD;
    border-radius: 38px;
}
.card h2{
    text-align: center;
}
.btn{
    border: 1px solid #1E74FD;
    color: #1E74FD;
}
.btn:hover{
    background-color:  #1E74FD;
    color: white;
}